body {
	height: 100%;
	margin: 0;
	text-align: left;
	width: 100%;
                 background-color: rgb(220, 237, 121);
                 color:rgb(3, 155, 140);
}

h1 {
text-align: center;
   font-size: 32px;
  font-family: Palatino, 'Palatino Linotype', serif;
  color: rgb(141, 18, 168);
}
ss
h2 {
	font-size: 56px;
}


.hero {
	padding: 250px 0;
	margin: 30px;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;

}


p {
  font-size: 2rem;
}
