body {
	height: 120%;
	margin: 0;
	text-align: left;
	width: 120%;
                 background-color: rgb(226, 144, 29);
                 
}

h1 {
text-align: center;
   font-size: 38px;
  font-family: Palatino, 'Palatino Linotype', serif;
  color: white;
}

h2 {
	font-size: 57px;
}


.hero {
	padding: 278px 0;
	margin: 30px;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;

}


p {
  font-size: 28px;
  font-family: sans-serif;
}